{
  "presets":[ ["@babel/preset-react",{ "runtime": "automatic" }],"@babel/preset-typescript"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "@babel/plugin-transform-typescript",
        "babel-plugin-macros",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-react-display-name",
        "@babel/plugin-transform-react-jsx-self",
        "@babel/plugin-proposal-private-property-in-object",
        "babel-plugin-twin",
        "babel-plugin-macros",
        "babel-plugin-styled-components"
      ]
    }
  },
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-react-display-name",
        "@babel/plugin-transform-react-jsx-self",
        "@babel/plugin-proposal-private-property-in-object",
      "babel-plugin-twin",
      "babel-plugin-macros",
      "babel-plugin-styled-components",
      "babel-plugin-react-css-modules",
      {
        "webpackHotModuleReloading": true,
        "autoResolveMultipleImports": true
      }
    ]

}